.password__container {
  width: 40%;
  color: white;
  background: #333;
  border-radius: 5px;
  padding: 30px;
}

.password__title {
  text-align: center;
  margin-bottom: 20px;
}

.password__wrapper {
  width: 100%;
  height: 50px;
}

.password__area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.password__area .password {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
}

.password__area .password input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background: #e5e5e5;
  color: black;
  line-height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0 60px 0 20px;
}

.password__area .password .password__icon {
  position: absolute;
  right: 0;
  top: 50%;
  width: 50px;
  height: 100%;
  padding: 12px;
  transform: translate(0, -50%);
  background: #999999;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.password__setting {
  margin: 20px 0;
}

.password__customize {
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
}

.password__customize .password__checkboxes {
  display: flex;
}

.left .right {
  width: fit-content;
}

.password__customize .right {
  margin-left: 30px;
}

.password__customize .password__checkboxes .password__checkbox-field {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.password__customize .password__checkboxes .password__checkbox-field input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.password__customize
  .password__checkboxes
  .password__checkbox-field
  input:checked {
  accent-color: #d6001c;
}

.password__customize .password__checkboxes .password__checkbox-field label {
  line-height: 20px;
}

.password__slider {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
}

.password__slider .password__rangeValue {
  width: 80px;
  height: 100%;
  font-size: 22px;
  border-radius: 5px;
  background-color: white;
  color: #333;
  line-height: 50px;
  text-align: center;
}

.password__slider .password__range {
  width: calc(100% - 80px);
  height: 100%;
  margin-left: 20px;
  border-radius: 5px;
  border: none;
  background: #fff;
  outline: none;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password__slider .password__range input {
  width: 100%;
}

.password__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password__button button {
  margin-left: 15px;
  padding: 0 25px;
  height: 50px;
  border-radius: 50px;
  font-size: 18px;
  background-color: #d8d8d8;
  color: #272727;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .password__title {
    font-size: 20px;
  }

  .password__button {
    display: block;
  }

  .password__button button {
    width: 100%;
    margin-left: 0;
  }

  .password__button button:last-child {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .password__container {
    width: 100%;
    margin: 0 30px;
    padding: 20px;
  }

  .password__title {
    font-size: 22px;
  }

  .password__customize .password__checkboxes {
    display: block;
  }

  .password__customize .password__checkboxes .right {
    margin-left: 0;
  }

  .password__area .password input {
    font-size: 17px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .password__container {
    width: 70%;
    margin: 0 30px;
  }
}

@media (min-width: 1025px) and (max-width: 1300px) {
  .password__container {
    width: 60%;
    margin: 0 30px;
  }
}
